<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Admin Strap</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="[pages.HOME]">Dashboard</a></li>
        <li><a [routerLink]="[pages.CATEGORIES]">Categories</a></li>
        <!--<li><a href="posts.html">Posts</a></li>-->
        <li><a [routerLink]="[pages.USERS]">Users</a></li>
        <li><a [routerLink]="[pages.VIDEOS]">Videos</a></li>
        <li><a [routerLink]="[pages.IMAGES]">Images</a></li>
        <li><a [routerLink]="[pages.PAGES]">Pages</a></li>
        <li><a [routerLink]="[pages.PAGES]">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Welcome</a></li>
        <li><a [routerLink]="[pages.LOGOUT]">Logout</a></li>
      </ul>
    </div> <!--/.nav-collapse -->
  </div>
</nav>
<header id="header">
  <div class="container">
      <div class="row">
        <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage Your Site</small></h1>

        </div>
        <!--create content button-->
        <div class="col-md-2">
            <div class="dropdown create">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Create content
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a type="button" data-toggle="modal" data-target="#addPage">Add Page</a></li>
                  <!--<li><a href="#">Add Post</a></li>-->
                  <li><a type="button" data-toggle="modal" data-target="#addUser">Add User</a></li>
                  <li><a type="button" data-toggle="modal" data-target="#addCategorie">Add Categorie</a></li>
                      <!--Add video and photo-->
                  <li><a type="button" data-toggle="modal" data-target="#uploadVideo">Upload Video</a></li>
                  <li><a type="button" data-toggle="modal" data-target="#uploadImage">Upload Image</a></li>
                </ul>
            </div>
        </div>
      </div>
  </div>
</header>
<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
  </div>
</section>

<section id="main">
  <div class="container">
      <div class="row">
          <leftnav></leftnav>
          <div class="col-md-9">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</section>

<!-- modals-->
<div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Page</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label> Page Title</label>
              <input type="text" class="form-control" placeholder="Page Title">
            </div>

            <div class="form-group">
              <label> Page Body</label>
              <textarea name="editor" class="form-control" placeholder="Page Body"></textarea>
            
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Published
                </label>
            </div>

            <div class="form-group">
                <label>Meta Tags</label>
                <input type="text" class="form-control" placeholder="Add Some Tags...">
            </div>

            <div class="form-group">
              <label>Meta Description</label>
              <input type="text" class="form-control" placeholder="Add Meta Description...">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary ">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!--Upload video-->
<div class="modal fade" id="uploadVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
            <div class="uploadButton">


              <label for="fileUpload" class="upload">
                        Upload Video
                  <input id="fileUpload" type="file" hidden>
                  </label>
              </div>
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label> Video Title</label>
              <input type="text" class="form-control" placeholder="Video Title">
            </div>

            <div class="form-group">
              <label> Video description</label>
              <textarea name="editor2" class="form-control" placeholder="Cast"></textarea>
              <br>
              <textarea name="editor2" class="form-control" placeholder="Crew"></textarea>
              <br>
              <textarea name="editor2" class="form-control" placeholder="Music"></textarea>
              <br>
              <textarea name="editor2" class="form-control" placeholder="Year"></textarea>
              <br>
              <textarea name="editor2" class="form-control" placeholder="Genre"></textarea>
              <br>
              <textarea name="editor2" class="form-control" placeholder="Synopsis"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Published
                </label>
            </div>

            <div class="form-group">
                <label>Meta Tags</label>
                <input type="text" class="form-control" placeholder="Add Some Tags...">
            </div>

            <div class="form-group">
              <label>Meta Description</label>
              <input type="text" class="form-control" placeholder="Add Meta Description...">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

  <!--Upload Image-->

  <div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">
              <div class="uploadButton">


                <label for="fileUpload" class="upload">
                          Upload Image
                    <input id="fileUpload" type="file" hidden>
                    </label>
                </div>
              </h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label> Image Title</label>
                <input type="text" class="form-control" placeholder="Image Title">
              </div>

              <div class="form-group">
                <label> Image description</label>
                <textarea name="editor2" class="form-control" placeholder="Image Description"></textarea>
                <br>

              </div>

              <div class="checkbox">
                  <label>
                      <input type="checkbox"> Published
                  </label>
              </div>

              <div class="form-group">
                  <label>Meta Tags</label>
                  <input type="text" class="form-control" placeholder="Add Some Tags...">
              </div>

              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" placeholder="Add Meta Description...">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!--Upload categories-->

  <div class="modal fade" id="addCategorie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label> New Categorie </label>
                <input type="text" class="form-control" placeholder="Name">
              </div>

              <div class="form-group">
                <label> Description</label>
                <textarea name="editor2" class="form-control" placeholder="Description"></textarea>
                <br>

              </div>

              <div class="checkbox">
                  <label>
                      <input type="checkbox"> Published
                  </label>
              </div>

              <div class="form-group">
                  <label>Meta Tags</label>
                  <input type="text" class="form-control" placeholder="Add Some Tags...">
              </div>

              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" placeholder="Add Meta Description...">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- add user-->

  <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label> Add User </label>
                <input type="text" class="form-control" placeholder="Name">
              </div>

              <div class="form-group">
                <label> Acces Type</label>
                <textarea name="editor2" class="form-control" placeholder="Acces Type"></textarea>
                <br>

              </div>

              <div class="form-group">
                <label> Add Date</label>
                <textarea name="editor2" class="form-control" placeholder="Add Date"></textarea>
                <br>

              </div>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  
>

<footer id="footer">
  <p>Copyright Admin, &copy; 2017</p>
</footer>

